/******************************/

/* For Overall Page Style */

/******************************/

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

html, #root {
    background-color: azure;
}

.info-container {
    display: flex;
    margin: auto;
    width: 80%;
    min-width: 500px;
    text-align: center;
    border: 3px solid green;
    padding: 10px;
}

.info-item {
    padding: 10px;
    width: 80%;
}

.top-form {
    padding-top: 10px;
    margin-bottom: 0px;
}

/******************************/

/*For Bootstrap card styling*/

/******************************/

.card-deck {
    margin-top: 1rem !important;
    column-gap: 1% !important;
    column-count: 1 !important;
}

.nav-link:last-of-type {
    color: black;
}

.card {
    background-color: aliceblue !important;
}

.card {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 2rem 12% auto auto;
}

.card-title-header {
    display: flex;
}

#try-again {
    padding-bottom: 5px !important;
}

.info-sub-item {
    padding: 5px;
}

.set-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert {
    text-align: center;
}

/******************************/

/*For navbar*/

/******************************/

#SiteName {
    display: none;
}

#navLinks.container {
    max-width: 95vw;
}

span, .link, .link:hover {
    color: black;
}

#nav {
    background-color: rgb(19, 114, 131);
    padding: 10px 0px 10px 10px;
    margin-bottom: 2rem;
    width: 100%;
}

.link {
    transition: 0.5s;
}

.link:hover {
    transition: 0.7s ease-out;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: rgb(14, 136, 160);
    border-radius: 5px;
    padding: 7px 7px;
}

.container {
    margin: auto 0 !important;
}

/******************************/

/*For forms*/

/******************************/

.info {
    margin: 2rem auto;
    text-align: center;
}

.form-control {
    width: 50% !important;
}

#displayName.form-control, #email.form-control {
    width: 80% !important;
}

#addBtn {
    margin: auto !important;
}

#delBtn, addBtn {
    padding: 4px 10px;
}

#authentication, #recipeForm {
    text-align: center;
    border: 1px solid rgb(146, 145, 145);
    max-width: 450px;
    width: 55%;
    margin: 2rem auto 30vh auto;
    box-shadow: 2px 2px 8px rgba(49, 49, 49, 0.5);
    border-radius: 3px;
    background-color: aliceblue;
}

#authentication .form-control {
    margin-top: 1.5rem !important;
}

input {
    margin: auto !important;
}

/******************************/

/*Font-awesome icons*/

/******************************/

i#icon {
    color: rgb(72, 168, 237);
    font-size: 85px !important;
    position: relative;
}

i#like {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 22pt;
    display: inline;
    margin-left: 1.2rem;
}

i#like.clicked {
    color: red;
}

h1.auth {
    position: relative;
    display: inline;
    margin-left: 1rem;
}

i, h1.auth {
    margin-top: 20vh;
}

.form-group button {
    margin: auto 1rem !important;
}

#background {
    background-color: azure;
    height: 100vh;
}

#container {
    text-align: center;
}

#recipeForm button {
    margin: 2rem auto;
}

.super {
    text-align: right;
}

/******************************/

/* For individual recipe pages */

/******************************/

#recipeForm {
    margin: 6rem auto 4rem auto;
}

img.recipe {
    max-width: 70%;
    display: block;
    margin: 2rem auto;
    border-radius: 5px;
    border: 1px solid black;
}

h1.recipe {
    font-size: 50pt;
}

h2.recipe {
    margin: 2rem;
    text-align: center;
}

.list-group {
    text-align: center;
}

.list-group-item {
    width: 50%;
}

li:not(.list-group-item) {
    list-style-type: none;
    margin: 1rem 0rem;
}

div.box {
    border: 1px solid black;
    margin: 1rem 15vw;
    border-radius: 4px;
    width: 70%;
    float: left;
    padding: 10px;
    background-color: rgb(252, 247, 247);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h3.box {
    font-size: 20pt;
}

h4.box {
    font-size: 12pt;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

p.box {
    word-wrap: break-word;
}

button#comment {
    margin: 0.5rem 15vw;
}

.form-group>textarea.form-control {
    margin-left: 15vw;
}

/******************************/

/*For Responsive Site */

/******************************/

@media(min-width: 700px) {
    #SiteName {
        display: inline;
        position: relative;
        font-size: 30pt;
    }
    .card-deck {
        margin: 1rem auto auto 10% !important;
        column-gap: 1% !important;
        column-count: 2 !important;
    }
    .card {
        margin: 2rem 10% auto auto;
    }
}

@media(min-width: 1100px) {
    .card-deck {
        column-count: 3 !important;
    }
}